html {
  box-sizing: border-box;
}

* :before:after {
  box-sizing: inherit;
}

body {
  background-color: yellow;
  font-family: sans-serif;
}

h1 {
  font-size: 1.5rem;
}

article {
  color: #666;
  font-style: italic;
}
